.btn {
    border: 1px solid #121212;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 8px 18px;
    font-weight:bold;
    margin-right: 20px;
}

.active{
    background-color: #ECD3FA;
    color: #52228C;
    border-color:#52228C ;
}