.search {
    width: 307px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #121212;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    outline:none;
}

.text {
    color: #999999;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}