.main {
    padding: 20px;
    width: 365px;
    height: 419px;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

