.slider {
  padding: 0px 18px 0px 6px;
}

.text {
  color: #999999;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.age {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
}