.card {
    border-radius: 15px;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    height: 129px;
    padding: 0 24px 0 24px;
    ;
    margin-bottom: 10px;
}

.info {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
}

.name {

    color: #121212;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
}

.dob {
    color: #999999;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

}

.card_img {
    border-radius: 12px;
    width: 85px;
    height: 82px;
}


.btn {
    padding: 12px 24px;
    background: #52228C;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: #ffffff;
    width: 141px;
    height: 48px;
}

.card_body {
    padding-left: 15px;
}